/* SPIP-STYLE                                                           */
/* Cette feuille contient les styles associes au code genere par SPIP.  */
/* Ces styles sont indispensables et doivent necessairement etre        */
/* definis pour le bon fonctionnement de vos squelettes.                */


/* Intertitre */
h3.spip { /* text-align: center; margin-top: 2em; margin-bottom: 1.4em; font-size: 1.15em; font-weight: bold;*/ }
hr.spip { margin: 2em auto; }

/* Listes SPIP */
ol.spip { list-style: decimal; }

img{
	vertical-align:bottom;
}

.image_loading{position:absolute;right:0;top:0;}
#conteneur .spip_code{
	color:inherit;
	font-family:inherit;
}
/* Citations, code et poesie */
blockquote.spip { margin: 2em 0; padding-left: 1em; border-left: 0.30em solid; }
blockquote.spip_poesie { margin: 2em 0; padding-left: 1em; border-left: 1px solid; font-family: Garamond, Georgia, Times, serif; font-size:120%; }
blockquote.spip_poesie div { text-indent: -3em; margin-left: 3em; }

.spip_code, .spip_cadre { font-family: Courier, "Courier New", monospace; color: #009; }
.spip_cadre {background-color: #F4F8F8; border: 1px inset; }
div.spip_code, .spip_cadre { margin-bottom: 1em;  }

.spip_surligne { background: #FF6; }

/* Tableaux */
table.spip { margin-right: auto; margin-left: auto; margin-bottom: 1em; border-collapse: collapse; border-spacing: 0; line-height: normal; }
table.spip caption { caption-side: top; /* bottom pas pris en compte par IE */ text-align: center; margin-right: auto; margin-left: auto; font-weight: bold; }
table.spip tr.row_first { background: #FFC; }
table.spip tr.row_odd { background: #EEE; }
table.spip tr.row_even { background: #DDD; }
table.spip th, table.spip td { padding: 0.20em 0.40em; text-align: left; border: 1px solid; }
table.spip th { vertical-align: bottom; font-weight: bold; }
table.spip td { vertical-align: top; }

/* Logos, documents et images */
img, .spip_logos { margin: 0; padding: 0; border: 0; }
.spip_documents { text-align: center; line-height: normal; }
.spip_documents p { margin: 0.10em; padding: 0; }
.spip_documents_center { display: block;display: table; clear: both; margin: 1em auto; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { margin-right: auto; margin-left: auto; font-weight: bold; font-size: 0.90em; }
.spip_doc_descriptif { clear: both; margin-right: auto; margin-left: auto; font-size: 0.90em; }

/* modeles par defaut */
.spip_modele { float: right; display: block; padding: 1em; border: 1px solid; width: 180px; }

/* Couleurs des liens de SPIP */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_ancre {} /* liens internes a la page */
a.spip_in { color: #900; } /* liens internes */
a.spip_out { color: #009;  } /* liens sortants */
a.spip_url { color: #009; } /* liens url sortants */
a.spip_glossaire { color: #060;  } /* liens vers encyclopedie */
a.spip_glossaire:hover { text-decoration: underline overline; }

.on,.on a,a.on { font-weight: bold; } /* liens exposes */

.small {font-size:90%;}

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

body{
	font-family:Arial,Verdana;
	font-size:.9em;
	color:#000;
	margin:0;
}

a, a.spip_out{
	color:#000;
	padding:0;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:#fff;
}

h3 a, h5 a, .menu a{
	border:none;
}

ul.spip,p,div.spip{
	margin:.8em 0;
	line-height:1.5em;
	font-size:.9em;
}

.texte p{
	padding:0 10px;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

ul.spip{
	list-style-type:square;
	padding-left:10px;
	margin-left:15px;
}

h1, h2, h3, h4, h5, h6 {
	background:#999;
	font-size:1em;
	margin:0;
	padding:2px 0;
	font-weight:bold;
	color:#000;
}

h3 a{
	display:block;
}
#menu_lang{
	position:absolute;
	right:10px;
	top:10px;
	z-index:10;
}

#menu_lang a,#menu_lang strong{
	display:block;
	width:16px;
	height:11px;
	color:transparent;
	float:right;
	margin:2px;
	background:url(images/flags/flags_sprite.png) no-repeat 0 0;
}

#menu_lang a.langue_en{
	background-position:0 -11px;
}
#menu_lang a.langue_sl{
	background-position:-16px -11px;
}
#menu_lang strong.langue_en{
	background-position:0 0;
}
#menu_lang strong.langue_sl{
	background-position:-16px 0;
}


label.en{
	background:url(images/flags/gb.png) no-repeat right 50%;
}

#menu_lang a.langue_it, label.it{
	background:url(images/flags/it.png) no-repeat right 50%;
}

label.sl{
	background:url(images/flags/si.png) no-repeat right 50%;
}

#menu_lang strong.langue_it{
	background:url(images/flags/it_on.png) no-repeat right 50%;
}

label.en, label.sl{
	padding-right:20px;
}
div#page{
	width:100%;
}

div#entete{
	width:100%;
	overflow:hidden;
	margin-bottom:10px;
}

div#entete .accueil{
	width:100%;
	position:relative;
}

div#entete img{width:100%;height:auto;}

div#entete .dsjcycle{position:absolute;display:none;}

div#entete .dsjcycle a{width:100%;display:block;}

div#conteneur{
	width:100%;
	position:relative;
	overflow:hidden;
}

div#conteneur #navigation{
	width:15%;
	float:left;
	text-align:right;
}

div#conteneur #navigation h2{
	background-color:#333;
	color:#fff;
	margin-top:10px;
}

#navigation .navigation_extra li{
	background: url(images/fle_gauche.png) top right no-repeat;
	padding-top:16px;
}
#navigation .navigation_extra li>div{
	background-color:#ccc;
	font-size:.75em;
	padding:0px 0 10px 0;
}

#navigation .navigation_extra li .spip_logos{
	width:100%;
	height:auto;
}
.links_home{
	overflow:auto;
	color:#fff;
	background-color:#333333;
	padding:2px 4px;
	font-weight:bold;
	margin:21px 0 10px 0;
}

.links_home a{
	color:#fff;
	display:block;
	padding-left:20px;
}

.links_home a.link_back{
	float:left;
	background:transparent url(images/back.gif) no-repeat left center;
}

.links_home a.link_home{
	float:right;
	background:transparent url(images/home.gif) no-repeat left center;
}
div#conteneur #contenu{
	width:37%;
	margin-left:1%;
	float:left;
}

.cartouche p{
	clear:none;
	margin:5px 0;
}

.logo_evenement{
	max-width:40%;
	float:right;
}

.logo_evenement .spip_logos{
	width:100%;
	height:auto;
}
.spip_logos,.logo{
	position:relative;
}
#conteneur .cartouche .spip_logos{
	float:left;
	margin:0 10px 5px -10px;
}

#contenu .hentry{
	overflow:auto;
}
.extra-left .entry{padding:5px;}
.extra-left .entry h3{background:transparent;}
.extra-left > a .spip_logos{
	width:100%;
	height:auto;
	
}
#contenu .hentry .logo{
	width:38%;
	height:auto;
	display:inline-block;
	vertical-align:top;
}

.page_rubrique #contenu .hentry .logo,
.page_recherche #contenu .hentry .logo{
	width:17%;
	margin:0;
}

#contenu .hentry .logo .spip_logos,#extra .extra-left ul li .spip_logos{
	width:100%;
	height:auto;	
}
#contenu .hentry .entry{
	margin-left:0;
	margin:0 2%;
	display:inline-block;
	vertical-align:top;
	width:56%;
}

.page_rubrique #contenu .hentry .entry,
.page_recherche #contenu .hentry .entry{
	margin-left:0;
	margin : 0 0 0 2%;
	font-size:.9em;
	width:78%;
	vertical-align:top;
	padding:0;
}

.introduction p{
	margin:.2em 0;
}
div#conteneur .contenu-principal,
div#conteneur .content-principal,
div#conteneur .notes,div#conteneur .info_auteurs{
	background-color:#ccc;
	padding:10px;
	margin:0;
}

div#conteneur #extra{
	float:left;
	margin-left:1%;
	width:46%;
}

#extra .extra-left{
	float:left;
	width:31%;
}

#extra .extra-left ul li{
	padding:2px 0;
}

#extra .extra-left ul li.item{
	background:#ccc;
}
#extra .extra-left ul li .spip_logos{
	margin-bottom:5px;
}
#extra .extra-left ul li{
	border-bottom:3px solid #999;
	padding:8px 0;
}

.page_agenda #extra .extra-left ul li{
	background:#999;
	border:none;
	margin:2px 0;
	font-size:.9em;
	padding:2px;
	font-weight:normal;
	
}
#extra .extra-right{
	float:left;
	width:67%;
	margin-left:2%;
}
.extra-right .publications{background-color:#ccc}
.extra_right h3 a{
	color:#ccc;
}

.infos_sup .spip_documents{
	display:block;
}
ul.menu-liste.social{
	position:absolute;
	right:10px;
	bottom:10px;
}

.menu-liste.social li{
	float:right;
}

.extra-right h4,#conteneur .extra-right h2{
	margin-top:10px;
	background-color:transparent;
	margin-left:60px;
	color:#fff;
	padding-left:0;
}

.extra-right h4 a{color:#fff;}
.extra-right > div{
	margin-bottom:10px;
}
.menu {
	clear:none;
}

.extra_right h3,.article_text_online .extra-right h3{
	padding-left:24px;
	background:#333 url(images/fle_droite.gif) no-repeat 2px center;
	color:#FFF;
}

#navigation > p{
	padding-top:0;
	margin-top:0;
}
#navigation > p a{
	color:#fff;
}

#navigation ul.menu-liste li.abo_liste a,#navigation ul.menu-liste li.abo_liste a:hover{
	padding-right:24px;
	background:url(images/ico_newsletter.png) no-repeat right center;
	color:#000;
}

#navigation ul.menu-liste li.ico_donate a,#navigation ul.menu-liste li.ico_donate a:hover{
	padding-right:24px;
	background:url(images/ico_donate.png) no-repeat right center;
	color:#000;
}

#navigation ul.menu-liste li{
	text-align:right;
	margin:2px 0;
}

#navigation ul.menu-liste li ul{
	font-size:.85em;
}
#navigation ul.menu-liste li.on > a,#navigation ul.menu-liste li strong.on,.page_agenda #extra .extra-left ul li strong.on{
	color:#666;
	background-color:#ccc;
}
#navigation ul.menu-liste li a,#navigation ul.menu-liste li strong,.page_agenda #extra .extra-left ul li a,.page_agenda #extra .extra-left ul li strong{
	display:block;
	background-color:#999999;
	padding:2px;
	font-weight:bold;
	display:block;
	border:none;
	text-decoration:none;
	font-weight:bold;
	font-size:1em;
}

#extra .extra-left ul li a{
	background:none;
	padding:0;
}
#navigation ul.submenu_left li a,#navigation ul.submenu_left li strong{
	background-color:transparent;
	color:#fff;
	font-weight:normal;
	font-size:.9em;
}

#navigation ul.menu-liste li a:hover, #navigation ul.menu-liste li a.on{
	color:#fff;
}

#navigation ul{
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	-o-transition: 1s ease;
	transition: 1s ease;
}

#navigation ul.submenu_left li {
	padding:.5rem 0 .25rem 0; 
}
.nav-hidden{
	height:0px;
	overflow:hidden;
}
.menu{
	padding-top:1.5em;
}

#contenu ul.liste-items > li{
	background:#ccc;
	padding: 2%;
	margin:0;
}

#contenu ul.liste-items > li h3{background:transparent}
.page_sommaire #contenu ul.liste-items > li{
	margin: 0 0 2%;
    padding: 2%;
}

.page_sommaire #contenu ul.liste-items > li p:last-child{
	margin-bottom:0;
}
.formulaire_spip{
	margin-top:10px;
}

.formulaire_spip fieldset{
	padding:2%;
}

.formulaire_spip input{

}
.formulaire_spip input.text{
	padding:0px;
	border:2px solid #666;
}

.formulaire_spip input.text:focus{
	background:#ededed;
	outline:none;
}

#formulaire_recherche{
	margin:0;
	background:#ccc;
	padding:2px 1%;
	width:98%;
}

.rubrique_projet_normal #formulaire_recherche{
	padding:2px;
}

#formulaire_recherche label{ 
	display:none;
}

#formulaire_recherche input.text{
	width:85%;
	white-space:nowrap;
	height:20px;
	outline:none;
	border:none;
	padding:2px 0;
	background:#ccc;
}

#formulaire_recherche input.submit{
	font-size:1em;
	padding:0;
	border:0;
	background:#ccc;
	height:20px;
	margin:0;
	width:12%;
	text-align:center;
}

h2{
	background:#ccc;
	color:#fff;
}

#conteneur h1,#conteneur h1 a,#conteneur .liste h2,#conteneur .liste h2 a,
#conteneur .extra-left h2{
	background:#333333;
	color:#fff;
	padding-left:0;
	margin-top:0;
}

#conteneur h1 a:hover{
	color:#666;
}

#conteneur h2{
	color:#0000cc;
	padding-left:6%;
	margin-top:3%;
	clear:both;
}
.rubrique_brochures #conteneur .liste h2 a{
	background:none;
	color:#000;
}

.rubrique_brochures #conteneur .liste h2 a:hover{
	background:none;
	color:#fff;
}
.rubrique_brochures #conteneur h2{
	color:inherit;
	padding:2px 0;
	margin:0;
	background: #999;
}

.focus{
	margin-top:1.5em;
	background-color:#cccccc;
	text-align:right;
}

div.focus ul{
	padding:5px;
}

div.focus h5{
	background:transparent;
	padding:0;
	font-size:.9em;
}

.liste ul ul li{
	margin:.2em 0;
}

h3.spip{
	text-align:left;
	margin:1% 0;
}

.notes{
	margin:2%;
}

.page_article #conteneur h1{
	margin:0;
}

/**
 * Crayons
 */

.crayon-html{
	padding:5px;
	background-color:#fff;
	border:1px solid #ccc;
	font-size:.9em;
}

.crayon-html li.fieldset{
	padding:5px;
}

/**
 * Calendrier
 */

#calendar{
	width:100%;
	margin:8% 0;
	font-size:.9em;
	margin-bottom:0;
	text-align:left;
}

#calendar table{
	width:100%;
	font-size:.9em;
	margin-bottom:0;
}

#calendar .calendar-container{
	height:auto;
}
#calendar caption, #calendar .ui-datepicker-header{
	background-color:#333;
	padding:3px 0;
	color:#fff;
}
#calendar table{
	width:100%;
	border-collapse:collapse;
	text-align:center;
}
#calendar thead{
	background-color:#e4e4e4;
	border-bottom:#b6b6b6;
}
#calendar tbody{
	background-color:#fff;
}
#calendar caption a{
	color:#fff;
}

#calendar tr td{
	padding:2px 1px;
	line-height:1.3em;
}
#calendar tr td.occupe{
	padding:1px;
}

#calendar table td a{
	border:1px solid #fff;
	font-weight:normal;
	cursor:default;
	padding:3px 1px;
}
#calendar td.occupe a, #page .calendriermini .ui-state-highlight a{
	padding:3px 0px;
	background:#ededed;
	display:block;
	border:1px solid #d40000;
	cursor:pointer;
}

#calendar td.occupe a:hover, #page .calendriermini .ui-state-highlight a:hover{
	background-color:#d40000;
	color:#fff;
}

#calendar .ui-datepicker-buttonpane{
	display:none;
}
.calendar-today{
	background:#efefef url(images/calendar-today_link.png) repeat-x bottom left;
	margin-bottom:10px;
	text-align:center;
	height:31px;
	line-height: 31px;
}

.calendar-today a{
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:3px 6px;
	font-weight:300;
}

.calendar-today a:hover{
	color:#d40000;
	background-color:#fff;
}

/**
 * Carousel
 */
.extra-right .menu{
	position:relative;
}

.caroufredsel_wrapper,.page_rubrique #extra .caroufredsel_wrapper{
	margin:0 60px;
}

.caroufredsel_wrapper ul,.page_rubrique #extra .caroufredsel_wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.caroufredsel_wrapper li,
.page_rubrique #extra .caroufredsel_wrapper ul li{
	display: block;
	float: left;
}
 
.rubrique_brochures #contenu ul.liste li,
.extra-right ul.liste li{
	padding:6px;
}

.extra-right ul.liste li a{
	display:block;
}
.extra-right .menu,.documents_portfolio.menu{
	padding:0;
	position:relative;
	overflow:hidden;
}
.menu .prev {
	position:absolute;
	top:35px;
	width:60px;
	height:71px;
	background:url(images/fle_carousel_sprite_big.png) no-repeat 10px 0px;
	color:transparent;
	text-indent:-3000px;
}

.menu .prev:hover{
	background:url(images/fle_carousel_sprite_big.png) no-repeat 10px -71px;
}

.page_rubrique #contenu .menu{
	position:relative;
}
.page_rubrique #contenu .menu .prev,.page_rubrique #contenu .menu .next{
	top:120px;
}
.extra-right .exergue_media{
	background:#ccc;
	min-height:259px;
}

.extra-right .dsjcycle{
	min-height:226px;
}
.extra-right .exergue_media p,.extra-right .exergue_pdf{
	padding : .5em;

	margin:0;
}
.extra-right .exergue_pdf{
	color:#fff;
	background:#000;
}
.extra-right .exergue_pdf a{
	color:#fff;
}

.menu .next {
	position:absolute;
	top:35px;
	width:60px;
	right:0;
	height:71px;
	background:url(images/fle_carousel_sprite_big.png) no-repeat -255px 0;
	color:transparent;
	text-indent:3000px;
}

.menu .next:hover{
	background:url(images/fle_carousel_sprite_big.png) no-repeat -255px -71px;
}

.spip_documents{
	text-align:left;
}

.spip_documents img{
	max-width:100%;
	height:auto;
}
.spip_documents dd,.spip_documents dt{
	margin-left:0px;
}

#hierarchie{
	margin:10px -10px;
}
#hierarchie, #hierarchie a{
	color:#00C;
	background-color:#ccc;
}

#pied{
	font-size:.9em;
	color:#fff;
	background-color:#000;
	padding:3px 1%;
	clear:both;
}

#pied a{
	color:#fff;
	font-weight:normal;
}
#pied ul li{display:inline;padding:2px 5px;white-space:nowrap;}

div#conteneur .contenu-principal,
div#conteneur .content-principal{
	padding:0 0 5px 0;
}

.page_article div#conteneur .contenu-principal,
.page_article div#conteneur .content-principal{
	background-image:none;
	padding:0 0 10px 0;
}
.chapo{ overflow:auto;}

.page_rubrique .caroufredsel_wrapper{margin:0}
.page_rubrique .caroufredsel_wrapper li{margin:0;}

ul.liste_rubriques{padding:20px 10px 20px 40px;font-size:.9em;}
ul.liste_rubriques li{padding:3px 0;}

.rubrique_brochures .contenu-principal > h4,
.rubrique_brochures .content-principal > h4{
	margin-top:25px;
	color:#fff;
	margin-left:15px;
	font-size:1.2em;
}
.rubrique_brochures #conteneur #contenu{
	width:84%;
}

.rubrique_brochures .contenu-brochures .menu{
	position:relative;
	padding-top:0;
}
.page_rubrique.rubrique_brochures  div#conteneur .contenu-principal,
.page_rubrique.rubrique_brochures  div#conteneur .content-principal,{
	background-image:none;
	padding-top:0;
}

.rubrique_brochures .caroufredsel_wrapper{
	margin:0 60px;
	width:100%;
}
.rubrique_brochures .caroufredsel_wrapper li{
	text-align:left;
	color:#000;
}

.rubrique_brochures .menu .prev,.rubrique_brochures .menu .next {top:140px};

table.spip th, table.spip td {
	border:non;
}

table.spip{width:100%;border:none;font-size: .9em;}

table.spip tr.row_even,table.spip tr.row_odd{border:none;background:transparent;}

table.spip th, table.spip td{border:none;}

/**
 * 	Composition article texte
 */
.page_article.article_text_online div#conteneur #navigation{
	display:none;
}
.article_text_online div#conteneur #extra{width: 0px;}

.article_text_online div#conteneur #contenu{width: 100%;}

.article_text_online div#conteneur .contenu-principal,
.article_text_online div#conteneur .content-principal{width:70%;margin-right:1%;float:left;}

.article_text_online #hierarchie{margin:10px 0;}
.article_text_online div#conteneur .extra-right{width: 29%;float:right}
.article_text_online div#conteneur .extra-right p,.article_text_online div#conteneur .extra-right ul{font-size:.85em;}
body.article_text_online{background-color:#F5F5F5}

.article_text_online .subcartouche{overflow:auto;width:100%;}
.article_text_online .cartouche{width: 48%;margin:10px;float:left}
.article_text_online #conteneur h1{margin:0;}
.article_text_online .chapo,.article_text_online .licence {float:left;width:40%;font-size:.85em;padding:0;margin:0 5px;}
.article_text_online .chapo .spip_logos {float:left; margin: 0 10px 10px 0}
.article_text_online .chapo p,.article_text_online .licence p{margin:.2em 0}

.article_text_online div#conteneur .contenu-principal,
.article_text_online div#conteneur .content-principal,
.article_text_online div#conteneur .notes,
.article_text_online div#conteneur .info_auteurs,
.article_text_online div#conteneur .extra-right{background-color:#fff}

.article_text_online p a{color:#d40000}
.article_text_online a:hover{color:#CCC}

.article_text_online #pied{width:68%;float:left;}

.article_text_online h3,.article_text_online h3.spip,.article_text_online .extra-right h3{background-color:#ccc;}

/**
 * Page agenda
 */

.vevent{
	overflow:auto;
	border-bottom: 3px solid #CCC;
}
.vevent .spip_logos{
	float:right;
	margin:0 0 10px 10px;
	position:relative;
}

/**
 * Page sommaire
 */

.page_sommaire .liste-items{
	background-color:transparent;
}
.page_sommaire .liste-items li .surtitre{
	background:transparent url(images/fle_droite.gif) no-repeat 2px 50%;
	padding-left: 24px;
}


.dsjcycle,.dsjcycle > div{
	max-width:100%;
	min-width:100%;
	overflow:visible;
}

.dsjcycle > div img{
	width:100%;
	height:auto;
}
.dsjcycle div:nth-child(1n+2){
	display:none;
}

.exergue_media dl.spip_documents{
	margin:0;
}

.documents ul.liste-items .item a{
	display:block;
}

.sites_lies ul.liste-items .item  dt.spip_doc_titre {
	font-weight:normal;
	font-size:.8em;
}
.sites_lies ul.liste-items .item  dt.spip_doc_titre strong{
	font-weight:normal;
}
a.spip_in[type='application/pdf']{
	background:transparent url(images/fle_droite.gif) no-repeat 2px 50%;;
	padding-left:20px;
}

body a[hreflang]:after{
	content: "";
}


.spip_logos .crayon-icones, .logo .crayon-icones{
	float:none;
	position:absolute;
	top:0;
	right:0;
	left:auto;
}

iframe .player .video-wrapper .video,.player .video-wrapper,iframe .player .video-wrapper{
	background-color:#ccc;
}
/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {
	div#page { position: relative; width: 100%; margin: 0; text-align: left;box-shadow:none; }
	
	div#conteneur #navigation{
		width:19%;
	}
	
	div#conteneur #contenu{
		margin-left:1%;
		width: 46%;
	}
	
	div#conteneur #extra{
		margin-left: 1%;
		width:33%;
	}
	#extra .extra-left{
		display:none;
		width:100%;
	}
	.page_agenda #extra .extra-left{
		display:block;
	}
	
	.rubrique_brochures #conteneur #contenu{
		width:80%;
	}
	.extra-left .liste li{
		width:49%;
		float:left;
		margin-right:1%;
	}
	#extra .extra-right{
		margin-left:0;
		width:100%;
	}
	.page_agenda #extra .extra-right{
		display:none;
	}

}


/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
	div#page { position: relative; width: 100%; margin: 0; text-align: left;box-shadow:none; }
	
	div#entete .accueil{
		width:100%;
	}
	
	div#entete .accueil_bis{
		width:34%;
		display:none;
	}
	div#conteneur #contenu{
		margin-left:2%;
		width: 63%;
	}
	
	.rubrique_brochures #conteneur #contenu{
		width:62%;
	}
	
	div#conteneur #navigation{
		width:35%; 
	}
	
	div#conteneur #extra{
		margin-left: 1%;
		width:33%;
		display:none;
	}
	#extra .extra-left{
		display:none;
		width:100%;
	}
	.page_agenda #extra .extra-left{
		display:block;
	}
	.extra-left .liste li{
		width:49%;
		float:left;
		margin-right:1%;
	}
	#extra .extra-right{
		margin-left:0;
		width:100%;
	}
	.page_agenda #extra .extra-right{
		display:none;
	}

}


/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	div#page { position: relative; width: 100%; margin: 0; text-align: left;box-shadow:none; }
	
	div#conteneur #contenu{
		margin-left:0%;
		width: 100%;
		order:3;
	}
	
	.rubrique_brochures #conteneur #contenu{
		margin-left:0%;
		width:100%;
	}
	
	.rubrique_brochures #conteneur #contenu .exergue_pdf{
		display:none;
	}
	div#conteneur #navigation{
		width:100%;
		margin-left:0%;
	}
	
	#conteneur {
		display:flex;
		flex-direction: column;
	}
	#extra .hentry .logo{
		width:38%;
		height:auto;
		display:inline-block;
		vertical-align:top;
	}

	#extra .hentry .entry {
		margin-left: 0;
		margin: 0 2%;
		display: inline-block;
		vertical-align: top;
		width: 56%;
		padding:0;
	}
	.page_sommaire #extra ul.liste-items > li {
		margin: 0 0 2%;
		padding: 2%;
	}
	div#conteneur #navigation #calendar,
	div#conteneur #navigation #formulaire_recherche,
	#navigation ul.menu-liste li ul.menu-items,
	#navigation .navigation_extra,
	#navigation .submenu_left{
		visibility:hidden;
		display:none;
	}
	
	#navigation ul.menu-liste li ul.menu-items,
	#navigation .navigation_extra,
	#navigation .submenu_left{
		position:absolute;
	}
	
	#navigation ul.menu-liste li.on ul.menu-items{
		visibility:visible;
		display:block;
		position:relative;
	}
	div#conteneur #extra{
		display:block;
		order:2;
		width:100%;
		margin-left:0;
	}

	#extra .extra-left{
		display:block;
	}
	#extra .extra-right {
		display:none;
	}
	.page_agenda #extra .extra-left{
		display:block;
	}
	.extra-left .liste li{
		width:49%;
		float:left;
		margin-right:1%;
	}
	#extra .extra-right{
		margin-left:0;
		width:100%;
	}
	.page_agenda #extra .extra-right{
		display:none;
	}
	
	#pied ul li{
		display:block;
	}
	
	.article_text_online div#conteneur .contenu-principal,
	.article_text_online div#conteneur .content-principal,
	.article_text_online div#conteneur .extra-right,
	.article_text_online div#conteneur #pied{
		float:none;
		clear:both;
		width:98%;
	}
	ul.social{display:none;}
}