body{
	background-color:#666666;
	font-family:Arial,Verdana;
	font-size:.9em;
	color:#000;
	margin:0;
}

a, a.spip_out{
	color:#000;
	background:transparent;
	padding:0;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color:#fff;
}

h3 a, h5 a, .menu a{
	border:none;
}

ul.spip,p,div.spip{
	margin:.8em 0;
	line-height:1.5em;
	font-size:.8em;
}

.texte a {
	color:#ccc;
}
.texte p{
	padding:0 10px;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

ul.spip{
	list-style-type:square;
	padding-left:10px;
	margin-left:15px;
}

h1, h2, h3, h4, h5, h6 {
	background:#999;
	font-size:1em;
	margin:0;
	padding:2px 0;
	font-weight:bold;
	color:#000;
}

h3 a{
	display:block;
}
#menu_lang{
	padding:5px;
	text-align:right;
	overflow:hidden;
}

#menu_lang a,#menu_lang strong{
	display:block;
	width:16px;
	height:11px;
	color:transparent;
	float:right;
	padding:2px;
	margin-left:3px;
}

#menu_lang a.langue_en, label.en{
	background:url(images/flags/gb.png) no-repeat right 50%;
}

#menu_lang a.langue_it, label.it{
	background:url(images/flags/it.png) no-repeat right 50%;
}

#menu_lang a.langue_sl, label.sl{
	background:url(images/flags/si.png) no-repeat right 50%;
}

#menu_lang strong.langue_en{
	background:url(images/flags/gb_on.png) no-repeat right 50%;
}

#menu_lang strong.langue_it{
	background:url(images/flags/it_on.png) no-repeat right 50%;
}

#menu_lang strong.langue_sl{
	background:url(images/flags/si_on.png) no-repeat right 50%;
}

label.en, label.sl{
	padding-right:20px;
}
div#page{
	width:100%;
}
div#entete{
	width:1250px;
	height:150px;
	overflow:hidden;
	margin-bottom:10px;
}

div#entete .accueil{
	width:854px;
	height:150px;
	
	float:left;
}
div#entete .accueil_bis{
	width:396px;
	height:100px;
	float:right;
}

div#entete {width:100%}
div#entete .accueil{width:100%;}
div#entete .accueil_bis {width:0}
div#entete img{width:100%;height:150px;}
div#entete .dsjcycle a{width:100%;height:150px;display:block;}

div#conteneur{
	width:100%;
	position:relative;
	overflow:hidden;
}

div#conteneur #navigation{
	width:15%;
	float:left;
	text-align:right;
}

div#conteneur #navigation h2{
	background-color:#333;
	color:#fff;
	margin-top:10px;
}

#navigation .navigation_extra li{
	background: url(images/fle_gauche.png) top right no-repeat;
	padding-top:16px;
}
#navigation .navigation_extra li>div{
	background-color:#ccc;
	font-size:.75em;
	padding:0px 0 10px 0;
}

#navigation .navigation_extra li .spip_logos{
	width:100%;
	height:auto;
}
.links_home{
	overflow:auto;
	color:#fff;
	background-color:#333333;
	padding:2px 4px;
	font-weight:bold;
	margin:10px 0;
}

.links_home a{
	color:#fff;
	display:block;
	padding-left:20px;
}

.links_home a.link_back{
	float:left;
	background:transparent url(images/back.gif) no-repeat left center;
}

.links_home a.link_home{
	float:right;
	background:transparent url(images/home.gif) no-repeat left center;
}
div#conteneur #contenu{
	width:37%;
	margin-left:1%;
	float:left;
}

.cartouche p{
	clear:none;
	margin:5px 0;
}
.spip_logos,.logo{
	position:relative;
}
#conteneur .cartouche .spip_logos{
	float:left;
	margin:0 10px 5px -10px;
}

#contenu .hentry{
	overflow:auto;
}

#contenu .hentry .logo{
	width:39%;
	display:inline-block;
	vertical-align:top;
}

.page_rubrique #contenu .hentry .logo{
	width:17%;
	margin:0;
}

#contenu .hentry .logo .spip_logos{
	width:100%;
	height:auto;	
}
#contenu .hentry .entry{
	margin-left:0;
	margin:0 2%;
	display:inline-block;
	vertical-align:top;
	width:56%;
}

.page_rubrique #contenu .hentry .entry{
	margin-left:0;
	margin : 0 2%;
	font-size:.9em;
	width:78%;
	vertical-align:top;
	padding:0;
}

.introduction p{
	margin:.2em 0;
}
div#conteneur .contenu-principal,div#conteneur .notes,div#conteneur .info_auteurs{
	background-color:#999999;
	padding:10px;
	margin:0;
}

div#conteneur #extra{
	float:left;
	margin-left:1%;
	width:46%;
}

#extra .extra-left{
	float:left;
	width:31%;
}

#extra .extra-left ul li{
	padding:2px 0;
}
#extra .extra-left ul li .spip_logos{
	margin-bottom:5px;
}
#extra .extra-left ul li p{
	padding:0;
	margin:0;
	line-height: 1.3em;
}
#extra .extra-left ul li{
	border-bottom:3px solid #999;
	padding:8px 0;
}

.page_agenda #extra .extra-left ul li{
	font-size:.9em;
	padding:2px 0;
	font-weight:normal;
}
#extra .extra-right{
	float:left;
	width:67%;
	margin-left:2%;
	background-color:#333333;
}

ul.menu-liste.social{
	overflow:hidden;
	background-color:#666;
}

ul.social li:last-child{
	padding-left:41px;
	background-image:url(images/back_social_corner.png);
	background-repeat:none;
	background-position:bottom left;
}
.menu-liste.social li{
	float:right;
}
.menu-liste.social li a{
	display:block;
	padding:8px 3px;
	height:30px;
	background-color:#333;
	color:#fff;
}

.menu-liste.social li.icone a,
.menu-liste.social li.icone_fb a,
.menu-liste.social li.icone_twitter a,
.menu-liste.social li.icone_rss a,
.menu-liste.social li.icone_flickr a,
.menu-liste.social li.icone_vimeo a,
.menu-liste.social li.icone_youtube a{
	width:30px;
	color:transparent;
	overflow:hidden;
}

.icone_vimeo a{
	background:#333 url(images/social/vimeo.png) no-repeat center center;
}

.icone_youtube a{
	background:#333 url(images/social/youtube.png) no-repeat center center;
}

.icone_fb a{
	background:#333 url(images/social/facebook.png) no-repeat center center;
}

.icone_twitter a{
	background:#333 url(images/social/twitter.png) no-repeat center center;
}

.icone_rss a{
	background:#333 url(images/social/rss.png) no-repeat center center;
}

.icone_flickr a{
	background:#333 url(images/social/flickr.png) no-repeat center center;
}
.extra-right h4{
	margin-top:10px;
	background-color:transparent;
	margin-left:60px;
	color:#fff;
}

.extra-right h4 a{color:#fff;}
.extra-right > div{
	margin-bottom:10px;
}
.menu {
	clear:none;
}

#extra h3,.article_text_online .extra-right h3{
	padding-left:24px;
	background:#999 url(images/fle_droite.gif) no-repeat 2px center;
}

#navigation > p{
	padding-top:0;
	margin-top:0;
}
#navigation > p a{
	color:#fff;
}

#navigation ul.menu-liste li.abo_liste a{
	padding-right:24px;
	background:url(images/ico_newsletter.png) no-repeat right center;
}

#navigation ul.menu-liste li.ico_donate a{
	padding-right:24px;
	background:url(images/ico_donate.png) no-repeat right center;
}

#navigation ul.menu-liste li{
	text-align:right;
	margin:2px 0;
}

#navigation ul.menu-liste li ul{
	font-size:.85em;
}
#navigation ul.menu-liste li.on > a,#navigation ul.menu-liste li strong.on,#extra .extra-left ul li strong.on{
	color:#666;
	background-color:#ccc;
}
#navigation ul.menu-liste li a,#navigation ul.menu-liste li strong,#extra .extra-left ul li a, #extra .extra-left ul li strong{
	display:block;
	background-color:#999999;
	padding:2px;
	font-weight:bold;
	display:block;
	border:none;
	text-decoration:none;
	font-weight:bold;
	font-size:1em;
}

#extra .extra-left ul li a{
	background:none;
	padding:0;
}
#navigation ul.submenu_left li a,#navigation ul.submenu_left li strong{
	background-color:transparent;
	color:#fff;
	font-weight:normal;
	font-size:.8em;
}

#navigation ul.menu-liste li a:hover, #navigation ul.menu-liste li a.on{
	color:#fff;
}

.menu{
	padding-top:1.5em;
}

#contenu ul.liste-items > li{
	background:#999;
	padding: 2%;
	margin:0;
}

.page_sommaire #contenu ul.liste-items > li{
	margin: 0 0 2%;
    padding: 2%;
}

.formulaire_spip{
	margin-top:10px;
}

.formulaire_spip fieldset{
	padding:2%;
}

.formulaire_spip input{

}
.formulaire_spip input.text{
	background:#ccc;
	padding:0px;
	border:2px solid #ccc;
}

.formulaire_spip input.text:focus{
	background:#ededed;
	outline:none;
}

#formulaire_recherche{
	margin:0;
	background:#ccc;
	padding:2px 0;
	width:100%;
}

#formulaire_recherche label{ 
	display:none;
}

#formulaire_recherche input.text{
	width:85%;
	white-space:nowrap;
	height:20px;
	outline:none;
	border:none;
	padding:2px 0;
}

#formulaire_recherche input.submit{
	font-size:1em;
	padding:0;
	border:0;
	background:#ccc;
	height:20px;
	margin:0;
	width:12%;
	text-align:center;
}

h2{
	background:#ccc;
	color:#fff;
}

#conteneur h1,#conteneur h1 a{
	background:#fff;
	color:#0000cc;
}

#conteneur h1 a:hover{
	color:#666;
}

#conteneur h2{
	color:#0000cc;
	padding-left:6%;
	margin-top:3%;
}

.focus{
	margin-top:1.5em;
	background-color:#cccccc;
	text-align:right;
}

div.focus ul{
	padding:5px;
}

div.focus h5{
	background:transparent;
	padding:0;
	font-size:.9em;
}

.liste ul ul li{
	margin:.2em 0;
}

h3.spip{
	text-align:left;
	margin:1% 0;
}

.notes{
	margin:2%;
}

.page_article #conteneur h1{
	margin:0;
}

/**
 * Crayons
 */

.crayon-html{
	padding:5px;
	background-color:#fff;
	border:1px #solid #ccc;
	font-size:.9em;
}

.crayon-html li.fieldset{
	padding:5px;
}

/**
 * Calendrier
 */
#calendar{
	width:100%;
	margin:8% 0;
	font-size:.8em;
	margin-bottom:0;
}

#calendar caption{
	background-color:#333;
	padding:3px 0;
	color:#fff;
}
#calendar table{
	width:100%;
	border-collapse:collapse;
	text-align:center;
}
#calendar thead{
	background-color:#e4e4e4;
	border-bottom:#b6b6b6;
}
#calendar tbody{
	background-color:#fff;
}
#calendar caption a{
	color:#fff;
}

#calendar tr td{
	padding:4px 1px;
}
#calendar td.occupe{
	padding:1px;
}

#calendar td.occupe a{
	padding:3px 0px;
	background:#ededed;
	display:block;
	border:1px solid #d40000;
}

#calendar td.occupe a:hover{
	background-color:#d40000;
}

.calendar-today{
	background:#efefef url(images/calendar-today_link.png) repeat-x bottom left;
	margin-bottom:10px;
	text-align:center;
	height:31px;
	line-height: 31px;
}

.calendar-today a{
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:3px 6px;
	font-weight:300;
}

.calendar-today a:hover{
	color:#d40000;
	background-color:#fff;
}

/**
 * Carousel
 */
.extra-right .menu{
	position:relative;
}

.caroufredsel_wrapper,.page_rubrique #extra .caroufredsel_wrapper{
	margin:0 60px;
}

.caroufredsel_wrapper ul,.page_rubrique #extra .caroufredsel_wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.caroufredsel_wrapper li,.page_rubrique #extra .caroufredsel_wrapper ul li {
	color: #666;
	text-align: center;
	padding: 0;
	margin: 6px;
	font-size:.8em;
	display: block;
	float: left;
}
.extra-right .menu,.documents_portfolio.menu{
	padding:0;
	position:relative;
	overflow:hidden;
}
.menu .prev {
	position:absolute;
	top:35px;
	width:60px;
	height:71px;
	background:url(images/fle_carousel_sprite_big.png) no-repeat 10px 0px;
	color:transparent;
	text-indent:-3000px;
}

.menu .prev:hover{
	background:url(images/fle_carousel_sprite_big.png) no-repeat 10px -71px;
}

.page_rubrique #contenu .menu{
	position:relative;
}
.page_rubrique #contenu .menu .prev,.page_rubrique #contenu .menu .next{
	top:120px;
}
.extra-right .exergue_media p,.extra-right .exergue_pdf{
	padding : .5em;
	color:#fff;
	background:#000;
	margin:0;
}

.extra-right .exergue_media p a,.extra-right .exergue_pdf a{
	color:#fff;
}

.extra-right .exergue_media p a:hover{
	color:#d40000;
}
.menu .next {
	position:absolute;
	top:35px;
	width:60px;
	right:0;
	height:71px;
	background:url(images/fle_carousel_sprite_big.png) no-repeat -255px 0;
	color:transparent;
	text-indent:3000px;
}

.menu .next:hover{
	background:url(images/fle_carousel_sprite_big.png) no-repeat -255px -71px;
}


.spip_documents{
	text-align:left;
}

.spip_documents_center{
	margin-left:-10px;
}
.spip_documents dd,.spip_documents dt{
	margin-left:0px;
}


p.pagination{
	text-align:center;
}

p.pagination .sep{display:none;}

.pagination strong.on, .pagination a {
	padding: 5px 10px;
	line-height: 2em;
	border: 1px solid #000;
	background-color:#999;
	font-size:.9em;
}
.pagination strong.on {
	background: #fff;
}

#hierarchie{
	margin:10px -10px;
}
#hierarchie, #hierarchie a{
	color:#00C;
	background-color:#ccc;
}

#pied{
	font-size:.8em;
	color:#fff;
	background-color:#000;
	padding:3px;
}

#pied a{
	color:#fff;
	font-weight:normal;
}
#pied ul li{display:inline;padding:2px 5px;white-space:nowrap;}

div#conteneur .contenu-principal{
	padding:5px 0 5px 0;
	/*background:#999 url(images/logo_top_rubrique) no-repeat top center;*/
}

.page_article div#conteneur .contenu-principal{
	background-image:none;
	padding:10px 0;	
}
.chapo{ overflow:auto;}

.page_rubrique .caroufredsel_wrapper{margin:0}
.page_rubrique .caroufredsel_wrapper li{margin:0;}

ul.liste_rubriques{padding:20px 10px 20px 40px;font-size:.9em;}
ul.liste_rubriques li{padding:3px 0;}

.rubrique_brochures .contenu-principal > h4{
	margin-top:25px;
	color:#fff;
	margin-left:15px;
	font-size:1.2em;
}
.rubrique_brochures #conteneur #contenu{
	width:84%;
}

.rubrique_brochures .contenu-brochures .menu{
	position:relative;
	padding-top:0;
}
.page_rubrique.rubrique_brochures  div#conteneur .contenu-principal{
	background-image:none;
	padding-top:0;
}

.rubrique_brochures .caroufredsel_wrapper{
	margin: 10px 56px;
	margin:2% 60px;
	width:100%;
}
.rubrique_brochures .caroufredsel_wrapper li{
	text-align:left;
	color:#000;
	margin:6px;
}

.caroufredsel_wrapper li img{
	vertical-align:bottom;
}
.rubrique_brochures .caroufredsel_wrapper li p{
	margin:.2em 0;
}

.rubrique_brochures .caroufredsel_wrapper li a {
	
}
.rubrique_brochures .menu .prev,.rubrique_brochures .menu .next {top:140px};

table.spip th, table.spip td {
	border:non;
}

table.spip{width:100%;border:none;font-size: .8em;}

table.spip tr.row_even,table.spip tr.row_odd{border:none;background:transparent;}

table.spip th, table.spip td{border:none;}

.page_article.article_text_online div#conteneur #navigation{
	display:none;
}
.article_text_online div#conteneur #extra{width: 0px;}

.article_text_online div#conteneur #contenu{width: 100%;}

.article_text_online div#conteneur .contenu-principal{width:70%;margin-right:1%;float:left;}

.article_text_online #hierarchie{margin:10px 0;}
.article_text_online div#conteneur .extra-right{width: 29%;float:left}
.article_text_online div#conteneur .extra-right p,.article_text_online div#conteneur .extra-right ul{font-size:.85em;}
body.article_text_online{background-color:#F5F5F5}

.article_text_online .subcartouche{overflow:auto;width:100%;}
.article_text_online .cartouche{width: 48%;margin:10px;float:left}
.article_text_online #conteneur h1{color:#000;margin:0;}
.article_text_online .chapo,.article_text_online .licence {float:left;width:40%;font-size:.85em;padding:0;margin:0 5px;}
.article_text_online .chapo .spip_logos {float:left; margin: 0 10px 10px 0}
.article_text_online .chapo p,.article_text_online .licence p{margin:.2em 0}

.article_text_online div#conteneur .contenu-principal,
.article_text_online div#conteneur .notes,
.article_text_online div#conteneur .info_auteurs,
.article_text_online div#conteneur .extra-right,
.article_text_online .icone_fb,
.article_text_online .icone_rss,
.article_text_online .icone_twitter,
.article_text_online ul.menu-liste.social{background-color:#fff}

.article_text_online p a{color:#d40000}
.article_text_online a:hover{color:#CCC}

.article_text_online #pied{width: 80%;clear:both;}

.article_text_online h3,.article_text_online h3.spip,.article_text_online .extra-right h3{background-color:#ccc;}

/**
 * Page agenda
 */

.vevent{
	overflow:auto;
	border-bottom: 3px solid #CCC;
}
.vevent .spip_logos{
	float:right;
	margin:0 0 10px 10px;
	position:relative;
}

/**
 * Page sommaire
 */

.page_sommaire .liste-items{
	background-color:#666;
}
.page_sommaire .liste-items li .surtitre{
	background:transparent url(images/fle_droite.gif) no-repeat 2px 50%;
	padding-left: 24px;
}

.dsjcycle div:nth-child(1n+2){
	display:none;
}

.exergue_media dl.spip_documents{
	margin:0;
}

.documents ul.liste-items .item a{
	display:block;
}

.sites_lies ul.liste-items .item  dt.spip_doc_titre {
	font-weight:normal;
	font-size:.8em;
}
.sites_lies ul.liste-items .item  dt.spip_doc_titre strong{
	font-weight:normal;
}
a.spip_in[type='application/pdf']{
	background:transparent url(images/fle_droite.gif) no-repeat 2px 50%;;
	padding-left:20px;
}

body a[hreflang]:after{
	content: "";
}


.spip_logos .crayon-icones, .logo .crayon-icones{
	float:none;
	position:absolute;
	top:0;
	right:0;
	left:auto;
}


/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {
	div#page { position: relative; width: 100%; margin: 0; text-align: left;box-shadow:none; }
	
	div#conteneur #navigation{
		width:19%;
	}
	
	div#conteneur #contenu{
		margin-left:1%;
		width: 46%;
	}
	
	div#conteneur #extra{
		margin-left: 1%;
		width:33%;
	}
	#extra .extra-left{
		display:none;
		width:100%;
	}
	.page_agenda #extra .extra-left{
		display:block;
	}
	
	.rubrique_brochures #conteneur #contenu{
		width:80%;
	}
	.extra-left .liste li{
		width:49%;
		float:left;
		margin-right:1%;
	}
	#extra .extra-right{
		margin-left:0;
		width:100%;
	}
	.page_agenda #extra .extra-right{
		display:none;
	}

}


/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
	div#page { position: relative; width: 100%; margin: 0; text-align: left;box-shadow:none; }
	
	div#entete .accueil{
		width:100%;
	}
	
	div#entete .accueil_bis{
		width:34%;
		display:none;
	}
	div#conteneur #contenu{
		margin-left:2%;
		width: 68%;
	}
	
	.rubrique_brochures #conteneur #contenu{
		width:71%;
	}
	
	.rubrique_brochures #conteneur #contenu .exergue_pdf{
		display:none;
	}
	div#conteneur #navigation{
		width:25%;
		margin-left:2%; 
	}
	
	div#conteneur #extra{
		margin-left: 1%;
		width:33%;
		display:none;
	}
	#extra .extra-left{
		display:none;
		width:100%;
	}
	.page_agenda #extra .extra-left{
		display:block;
	}
	.extra-left .liste li{
		width:49%;
		float:left;
		margin-right:1%;
	}
	#extra .extra-right{
		margin-left:0;
		width:100%;
	}
	.page_agenda #extra .extra-right{
		display:none;
	}

}


/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
	div#page { position: relative; width: 100%; margin: 0; text-align: left;box-shadow:none; }
	
	div#entete .accueil{
		width:100%;
	}
	
	div#entete .accueil_bis{
		display:none;
	}
	div#conteneur #contenu{
		margin-left:0%;
		width: 100%;
	}
	
	.rubrique_brochures #conteneur #contenu{
		margin-left:0%;
		width:100%;
	}
	
	div#conteneur #navigation{
		width:100%;
		margin-left:0%;
	}
	
	div#conteneur #navigation #calendar,
	div#conteneur #navigation #formulaire_recherche,
	#navigation ul.menu-liste li ul.menu-items,
	#navigation .navigation_extra,
	#navigation .submenu_left{
		visibility:hidden;
		display:none;
	}
	
	div#conteneur #extra{
		display:none;
	}
	#extra .extra-left{
		display:none;
	}
	.page_agenda #extra .extra-left{
		display:block;
	}
	.extra-left .liste li{
		width:49%;
		float:left;
		margin-right:1%;
	}
	#extra .extra-right{
		margin-left:0;
		width:100%;
	}
	.page_agenda #extra .extra-right{
		display:none;
	}
	
	#pied ul li{
		display:block;
	}

}


/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */
input, select, textarea { font-size: 100%; font-family: inherit; }


/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip { clear: both; margin-bottom: 2em; padding: 0; border: 0; text-align: left; font-size: 1em; }
.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */

/* Fieldset */
.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; border: 0; }
.formulaire_spip fieldset legend { margin: 0; padding: 0; font-size: 1.05em; font-weight: bold; background-color: #fff; color: #333; } /* Preciser la couleur des legend et du fond pour IE/Win */
.formulaire_spip fieldset fieldset { margin-top: 1em; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* Explications */
.formulaire_spip .explication { margin: 0.50em 0; color: #444; }

/* Lignes */
.formulaire_spip ul { margin: 0; padding: 0; list-style: none; }
.formulaire_spip ul li { clear: both; margin: 0; padding: 0.50em 0; }

/* Labels */
.formulaire_spip label { display: block; text-align: left; color: #444; font-weight: bold; /* pour IE/Win */ position: relative;  }
.formulaire_spip li p { margin-top: 0; margin-bottom: 0; }

.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,
.formulaire_spip .choix input.checkbox {width:auto;}


/* Champs de saisie */
.formulaire_spip input.text { width: 15em; }
.formulaire_spip textarea { width: 99%;}
.formulaire_spip select { width: 99%; }

/* Boutons */
.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input { margin-left: 1em; }
.formulaire_spip .boutons input, input.submit {}


/* Reponses, previsu et erreurs
----------------------------------------------- */

/* Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label {}

/* Previsualisation du message */
.formulaire_spip fieldset.previsu { margin-bottom: 2em; padding: 1em; border: 2px dashed #F57900; }
.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; font-weight: bold; color: #F57900; }
.formulaire_spip fieldset.previsu li { padding: 3px; border: none; }
.formulaire_spip fieldset.previsu p { margin: 1em 0; } 

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend et du fond pour IE/Win */

/* * Erreurs */
.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

/* * OK */
.reponse_formulaire_ok { margin: 0; color: #53AD20; font-weight: bold; }


/* Variantes et cas particuliers
----------------------------------------------- */

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }
table.spip_barre a img { background: #FDA; padding: 3px; border: 1px outset #CC9; }
table.spip_barre a:focus img,
table.spip_barre a:hover img,
table.spip_barre a:active img { background: #FFF; border: 1px solid #CC9; }
table.spip_barre input.barre { width: 99%; background: transparent; border: 0; color:inherit; }

/* Formulaire de forum */
.formulaire_forum .saisie_titre input.text, .formulaire_forum .saisie_titre textarea { width: 98%; }

/* Selection des langues */
.formulaire_menu_lang { margin: 0; padding: 0; background: none; }

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { margin: 0; padding: 0; background: none; }
.formulaire_recherche * { display: inline; vertical-align: middle; }
.formulaire_recherche label {}
.formulaire_recherche input.text { width: 10em; padding-left: 25px; background: #FFF; }
.formulaire_recherche input.submit {}

.spip_surligne {} /* Cf.: spip_style.css */

/* Choix des mots-clefs */
ul.choix_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.choix_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /* Bug IE/Win */

/* Formulaire de login dans une page */
.formulaire_login ul li {clear:left;}
.formulaire_login .editer_password .details {display:block;}
.formulaire_login #spip_logo_auteur {float:right;}
